* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    z-index: 0;
    color: #000000;
    background: linear-gradient(to bottom right, #ffffff, #ecebeb);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.dark-theme {
    color: #eee;
    background: linear-gradient(to bottom right, #3d3c3c, #383434);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.slider {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    z-index: -1;
}

.line-div {
    width: 80vw;
    height: 2px;
    background-color: #00000088;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 4%;
}

main {
    width: 1fr;
}

.page {
    height: 100vh;
    width: 1fr;
}


/* Default elements ---------- */

.heading {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-align: left;
}


/* NAVIGATION BAR ------------------*/

.mode-switch {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
    padding: 0.5%;
    font-size: 1.2rem;
    border-radius: 10px;
    border-style: none;
    font-weight: thin;
    font-style: italic;
}

.mode-switch.dark {
    color: #ffffff;
    background: linear-gradient(to bottom right, #ffffff25, #ecebeb21);
}

.mode-switch.light {
    color: #000000;
    background: linear-gradient(to bottom right, #3d3c3c5e, #38343428);
}

.mode-switch:focus {
    outline: none;
    box-shadow: none;
}


/* Navigation Bar */

header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
    padding: 1rem;
    width: 100%;
}

#navbar {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 800px;
    justify-content: center;
}

#navbar ul li {
    margin: 0.5rem;
}

#navbar ul {
    border-radius: 0.3rem;
    background: linear-gradient(to top right, #2d545e, #3f7380);
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
    box-shadow: 4px 4px 10px #353532;
}

#navbar a {
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    background: none;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

#navbar a:visited {
    text-decoration: none;
    color: #ffffff;
    animation: none;
}

#navbar a:hover {
    color: #070500;
    animation: glitch 500ms infinite;
    border-bottom: 0.2rem solid #050000;
}


/* LANDING PAGE */

.start {
    min-width: 200px;
    width: 100%;
    margin: 2%;
    padding: 1%;
}

.start h1 {
    font-weight: bolder;
    font-size: 6rem;
}

.start section {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 3%;
}

.title-intro {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    max-width: 100vw;
    margin-bottom: 10rem;
}

.wrap section.wrap {
    max-width: 700px;
}


/* INFORMATION SECTIONS */

.inline h1 {
    font-weight: bolder;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-grow: 1;
}

li {
    display: inline-block;
}

.right-button {
    float: right;
    text-align: end;
    align-self: center;
}

.inline {
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    width: 100%;
}

.info {
    min-width: 200px;
    width: 90%;
    margin: 3%;
    padding: 5%;
    padding-left: 2%rem;
    min-height: 35rem;
}

.info-section {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.bracket {
    height: 150%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(-20%);
}

.info-content {
    justify-content: center;
    padding-left: 1%;
    flex-grow: 1;
}


/* PROJECT SECTION */

.projects {
    display: flex;
    min-width: 400px;
    flex-wrap: wrap;
    margin: auto;
}

.project {
    margin: 1%;
    padding: 1%;
    border-radius: 0.5rem;
    max-width: 100vw;
    min-width: min-content;
    min-height: min-content;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3%;
}

.locked-fl {
    display: flex;
    flex-wrap: wrap;
}

.legend {
    display: inline-flex;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 0.3rem;
    color: #ffffff;
}

.progress {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    transform: translate(-5%, -30%);
}

.project.notstarted {
    border: 1px solid rgba(224, 50, 50, 0.945);
}

.project.ideation {
    border: 1px solid rgba(231, 190, 9, 0.795);
}

.project.in-progress {
    border: 1px solid rgba(26, 78, 248, 0.808);
}

.progress.in-progress {
    background: rgba(26, 78, 248, 0.808);
}

.progress.ideation {
    background: rgba(231, 190, 9, 0.795);
}

.progress.notstarted {
    background: rgba(224, 50, 50, 0.945);
}

.header-img {
    float: right;
    padding: 0;
    position: relative;
    text-align: center;
    display: block;
    align-items: center;
}

.header-img img {
    height: 350px;
    z-index: 2;
    box-shadow: 4px 4px 10px #3535328a;
    border-radius: 0.3rem;
}

.project.locked {
    max-width: 350px;
}

.header-img img.locked {
    height: 150px;
    width: auto;
    z-index: 1;
    box-shadow: 0px 0px 0px #5a5a55d0;
    border-radius: 0.3rem;
}

.header-img div,
color-block {
    background: #7a7b92;
    z-index: -1;
}

.project-title {
    margin: 2%;
    text-align: left;
    max-width: 600px;
    position: relative;
}

.project-title p {
    font-size: 2rem;
    font-weight: 300;
}

.project-title h2 {
    font-size: 4rem;
}

.project-title ul {
    display: flex;
    justify-content: center;
    float: left;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    padding: 0.5rem;
}

.project-title ul li {
    background-color: #0c4c5e96;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border-radius: 3rem;
}

.project button {
    border-style: none;
    background-color: #082e38d5;
    color: #ffffff;
    font-size: 1.6rem;
    border-radius: 3rem;
    margin: 1%;
    margin-right: 5%;
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.3rem;
    right: 0;
    bottom: 0;
    z-index: 5;
    position: absolute;
    box-shadow: 2px 2px 3px #222221d0;
}

.project.each {
    float: left;
    align-items: left;
    justify-content: left;
}

.full {
    width: 100%;
    margin-bottom: 3rem;
}

.full-width {
    width: 100%;
}

a img {
    width: 45px;
}

.bold {
    font-weight: bold;
}

.date {
    font-size: 1.4rem;
    font-style: italic;
}

.locked {
    flex: 1 1 40rem;
}

p {
    margin: 0.8rem;
    font-size: 1.5rem;
    max-width: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


/* Text and Heading Designs */

.section-header {
    position: relative;
    padding-bottom: 4rem;
}


/* FOOTER------------ */

footer {
    position: sticky;
    height: 6rem;
    width: 100%;
    text-align: center;
    background-color: #91918c;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0;
    margin: 0;
}

footer>* {
    position: relative;
    margin: 0;
}


/* lists */

ul li {
    margin: 0.5rem;
}

.inline a {
    border-style: none;
    background: linear-gradient(to top right, #2d545e, #3f7380);
    font-size: 1.3rem;
    margin: 3rem;
    padding: 0.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px #5a5a55d0;
}

.inline a:visited {
    text-decoration: none;
    color: #ffffff;
}

a {
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    background: none;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}


/*GLITCH ANIMATION ------------*/

.glitch {
    position: relative;
    margin-left: 1%;
    padding-left: 1%;
    height: 6rem;
    flex-grow: 1;
}

.glitch h1 {
    position: absolute;
    top: 0%;
    left: 0;
    text-shadow: -0.05em 0 0 #0004ff65, 0.05em 0 0 #ff5e0065, 0.04em 0.05em 0 #00ffddbb;
}

.glitch h1:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 45%);
    animation: glitch 700ms infinite;
    transition: translate(-0.05rem, -0.025rem);
    opacity: 0.7;
}

.glitch h1:last-child {
    clip-path: polygon(0 55%, 100% 55%, 80% 25%, 0% 95%);
    animation: glitch 450ms infinite;
    transition: translate(0.05rem, 0.025rem);
    opacity: 0.7;
}

@keyframes glitch {
    0% {
        text-shadow: -0.05em 0 0 #0004ff65, 0.05em 0 0 #ff5e0065, 0.04em 0.05em 0 #00ffddbb;
    }
    14% {
        text-shadow: -0.05em 0 0 #0004ff65, 0.05em 0 0 #ff5e0065, 0.04em 0.05em 0 #00ffddbb;
    }
    15% {
        text-shadow: -0.07em 0 0 #0004ff65, 0.03em 0.03em 0 #ff5e0065, 0.07em 0.06em 0 #00ffddbb;
    }
    49% {
        text-shadow: -0.07em 0 0 #0004ff65, 0.03em 0.03em 0 #ff5e0065, 0.07em 0.06em 0 #00ffddbb;
    }
    50% {
        text-shadow: -0.03em -0.03em 0 #0004ff65, 0.01em 0.05em 0 #ff5e0065, -0.01em 0.06em 0 #00ffddbb;
    }
    99% {
        text-shadow: -0.03em -0.03em 0 #0004ff65, 0.01em 0.05em 0 #ff5e0065, -0.01em 0.06em 0 #00ffddbb;
    }
    100% {
        text-shadow: -0.03em -0.05em 0 #0004ff65, 0.04em 0.05em 0 #ff5e0065, -0.01em 0.04em 0 #00ffddbb;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
     ::before,
     ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

.know-more {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 3rem;
    background: #2d545e98;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.vertical-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #ffffff;
    font-style: italic;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

.info-content ul li {
    display: list-item;
    list-style-type: square;
}

.info-content ul {
    list-style-type: decimal;
}

@media screen and (max-width: 800px) {
    .project {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }
    .projects {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .header-img img {
        width: 100%;
        height: auto;
        margin-bottom: 4%;
        z-index: 1;
        box-shadow: 4px 4px 20px #5a5a55d0;
        border-radius: 0.3rem;
    }
    #navbar {
        width: 100vw;
        padding: 0;
        margin: 0;
        margin-top: 7%;
    }
    #navbar ul {
        background: none;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        box-shadow: none;
    }
    #navbar ul li {
        background: linear-gradient(to top right, #2d545e, #3f7380);
        width: fit-content;
        padding: 1%;
        border-radius: 7px;
    }
    .start h1 {
        font-size: 4rem;
    }
    .glitch {
        width: 100%;
        margin-bottom: 15%;
    }
}